/*  Custom - Does not include portal customer */

p, td, a, span, div, em, textarea, input, select, {								/* Use to set the global font */

}

p, td, a, span, div, em, textarea, input, select, div.comment {

}

h1 {

}

h2 {
}

div.sectiondiv {													/* Task Section Header */
    /* background-color: #003366;  /*  Orig: #DADADA;  Green:#006666; Blue: 336699  Non-web blue: 3273ad New blue  3399cc   Incident: 003366*/	
}

 .odd {																	/* controls row list sizing   */
}

 .even {																	
}

.rowov {
}

div.sectiondiv {													/* Task Section Header */  
}

div.sectiondiv #label {												/* Task Section Header Label */	
}
 

div.sectiondiv  img:hover {											/* Task Section Header Hover  */ 
}
	

.lineactions {		

}


